xmlschema/built-environment-common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:gml="http://www.opengis.net/gml/3.2"
	xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0" 
	xmlns:rak="http://uri.suomi.fi/schema/built-environment/common/0.5" 
	targetNamespace="http://uri.suomi.fi/schema/built-environment/common/0.5" elementFormDefault="qualified" version="1.0">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<xs:import namespace="http://www.opengis.net/gmlsf/2.0" schemaLocation="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd"/>
	<xs:annotation>
		<xs:appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
			<gmlsf:ComplianceLevel>1</gmlsf:ComplianceLevel>
		</xs:appinfo>
	</xs:annotation>

	<xs:element name="SpatialObjectSet" type="rak:SpatialObjectSetType" substitutionGroup="gml:AbstractGML"/>
	<xs:complexType name="SpatialObjectSetType">
		<xs:annotation>
			<xs:documentation>Simple Feature collection container</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="featureMember">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractFeatureMemberType">
									<xs:sequence>
										<xs:element ref="gml:AbstractFeature"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="LandUseDataset" type="rak:LandUseDatasetType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="LandUseDatasetType">
		<xs:annotation>
			<xs:documentation>Implements concept Ajantasainen maankäyttöaineisto
				https://tietomallit.suomi.fi/model/rak/AjantasainenMaankayttoaineisto/</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element ref="rak:localizedName" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="datasetType" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Code list value, implements property Aineistolaji</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="levelOfDetail" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Code list value, implements property Yksityiskohtaisuuden taso</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="targetArea" type="gml:GeometryPropertyType">
						<xs:annotation>
							<xs:documentation>
								Implements property Aluerajaus.
								
								Note that for GML Simple Features profile the only supported property values are 
								gml:Point,gml:LineString, gml:Curve, gml:Polygon, gml:Surface, 
								gml:MultiPoint, gml:MultiCurve and gml:MultiSurface. Using solids (for 3D geometries) etc. is allowed 
								by the XML Schema, but will make the GML non-compliant with the GML Simple Feature profile.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="responsibleOrganisation" type="gml:ReferenceType" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Implements property Vastuullinen organisaatio</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LandUseDatasetPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rak:LandUseDataset"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="LandUseDatasetState" type="rak:LandUseDatasetStateType" substitutionGroup="gml:AbstractGML" />
	<xs:complexType name="LandUseDatasetStateType">
		<xs:annotation>
			<xs:documentation>Implements concept Aineiston tila https://tietomallit.suomi.fi/model/rak/AineistonTila/</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractGMLType">
				<xs:sequence>
					<xs:element name="timestamp" type="xs:dateTime" minOccurs="0"/>
					<xs:element name="stateIdentifier" type="xs:anyURI" minOccurs="0"/>
					<xs:element name="dataset" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>rak:LandUseDataset</gml:targetElement>
							</xs:appinfo>
							<xs:documentation>Implements property Aineisto</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LandUseDatasetStatePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rak:LandUseDatasetState"/>
		</xs:sequence>
	</xs:complexType>
	
	
	<xs:element name="LandUseDatasetDevelopmentNeed" type="rak:LandUseDatasetDevelopmentNeedType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="LandUseDatasetDevelopmentNeedType">
		<xs:annotation>
			<xs:documentation>Implements concept rak:Maankäyttöaineiston muutostarve
				https://tietomallit.suomi.fi/model/rak/MaankayttoaineistonMuutostarve/</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element ref="rak:localizedDescription" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="targetDataset" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>rak:LandUseDataset</gml:targetElement>
							</xs:appinfo>
							<xs:documentation>Implements property Kohdistuu aineistoon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="targetArea" type="gml:GeometryPropertyType">
						<xs:annotation>
							<xs:documentation>
								Implements property Aluerajaus.
								
								Note that for GML Simple Features profile the only supported property values are 
								gml:Point,gml:LineString, gml:Curve, gml:Polygon, gml:Surface, 
								gml:MultiPoint, gml:MultiCurve and gml:MultiSurface. Using solids (for 3D geometries) etc. is allowed 
								by the XML Schema, but will make the GML non-compliant with the GML Simple Feature profile.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="solutionOption" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>rak:LandUseObjectChangeSet</gml:targetElement>
							</xs:appinfo>
							<xs:documentation>Implements property Ratkaisuvaihtoehto</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="responsibleOrganisation" type="gml:ReferenceType" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Implements property Vastuullinen organisaatio</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LandUseDatasetDevelopmentNeedPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rak:LandUseDatasetDevelopmentNeed"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="LandUseObjectChangeSet" type="rak:LandUseObjectChangeSetType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="LandUseObjectChangeSetType">
		<xs:annotation>
			<xs:documentation>Implements concept rak:Kohdemuutoskokonaisuus
				https://tietomallit.suomi.fi/model/rak/Kohdemuutoskokonaisuus/</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element ref="rak:localizedDescription" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="implementsNeed" type="gml:ReferenceType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>rak:LandUseDatasetDevelopmentNeed</gml:targetElement>
							</xs:appinfo>
							<xs:documentation>Implements property Touteuttaa tarpeen</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="usedProcess" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Code list value, implements property Käytetty prosessi</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="basedOnDatasetState" type="rak:LandUseDatasetStatePropertyType">
						<xs:annotation>
							<xs:documentation>Implements property Perustuu aineiston tilaan</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="newObject" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>rak:AbstractLandUseObject</gml:targetElement>
							</xs:appinfo>
							<xs:documentation>Implements property Uusi kohde</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="modifiedObject" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>rak:AbstractLandUseObject</gml:targetElement>
							</xs:appinfo>
							<xs:documentation>Implements property Muuttuva kohde</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="removedObject" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>rak:AbstractLandUseObject</gml:targetElement>
							</xs:appinfo>
							<xs:documentation>Implements property Poistuva kohde</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="approvalDecision" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Implement property Muutospäätös</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="replaces" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>rak:LandUseFeatureChangeSet</gml:targetElement>
							</xs:appinfo>
							<xs:documentation>Implements property Korvaa muutoksen</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="replacedBy" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>rak:LandUseFeatureChangeSet</gml:targetElement>
							</xs:appinfo>
							<xs:documentation>Implements property Korvattu muutoksella.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LandUseObjectChangeSetPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rak:LandUseObjectChangeSet"/>
		</xs:sequence>
	</xs:complexType>
	
	
	<xs:element name="AbstractLandUseObject" type="rak:AbstractLandUseObjectType" substitutionGroup="gml:AbstractFeature" abstract="true"/>
	<xs:complexType name="AbstractLandUseObjectType" abstract="true">
		<xs:annotation>
			<xs:documentation>Implements concept Maankäyttökohde
				https://tietomallit.suomi.fi/model/rak/Maankayttokohde/</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="objectIdentifier" type="xs:anyURI" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Implements property Identiteettitunnus.
								
								Unique element identifier, remains the same if the identity of the object remains with the updated version. 
								Use gml:identifier for the version specific permanent identifier.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="objectType" type="gml:ReferenceType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Code list value, implements property Kohteen laji</xs:documentation>
					</xs:annotation>
					</xs:element>
					<xs:element ref="rak:localizedName" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Implements property Nimi</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="responsibleOrganisation" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Implements property Vastuullinen organisaatio</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="processPhase" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Code list value, implements property Prosessin vaihe</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="levelOfDetail" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Code list value, implements property Yksityiskohtaisuuden taso</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="geometry" type="gml:GeometryPropertyType">
						<xs:annotation>
							<xs:documentation>
								Implements property Kohteen sijainti.
								
								Note that for GML Simple Features profile the only supported property values are 
								gml:Point,gml:LineString, gml:Curve, gml:Polygon, gml:Surface, 
								gml:MultiPoint, gml:MultiCurve and gml:MultiSurface. Using solids (for 3D geometries) etc. is allowed 
								by the XML Schema, but will make the GML non-compliant with the GML Simple Feature profile.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="partOf" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>gml:AbstractLandUseObject</gml:targetElement>
							</xs:appinfo>
							<xs:documentation>Implements property Sijoittuu alueelle</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="property" type="rak:NamedPropertyPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Implements property Ominaisuus, guidance or restriction applied to the object</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="includedInChangeSet" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Implements property Muutoskokonaisuus</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lineage" type="rak:LandUseObjectLineagePropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Implements property Muutoshistoria</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractLandUseObjectPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rak:AbstractLandUseObject"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="LandUseArea" type="rak:LandUseAreaType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="LandUseAreaType">
		<xs:annotation>
			<xs:documentation>Implements concept Maankäyttöalue
				https://tietomallit.suomi.fi/model/rak/Maankayttoalue/</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rak:AbstractLandUseObjectType">
				<xs:sequence>
					<xs:element name="detail" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>rak:LandUseDetail</gml:targetElement>
							</xs:appinfo>
							<xs:documentation>Implements property Yksityiskohta</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="subdivision" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>rak:LandUseArea</gml:targetElement>
							</xs:appinfo>
							<xs:documentation>Implements property Osa-alue</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="verticalConstraint" type="rak:VerticalRangePropertyValuePropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Implements property Pystysuuntainen rajaus</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LandUseAreaPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rak:LandUseArea"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="LandUseDetail" type="rak:LandUseDetailType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="LandUseDetailType">
		<xs:annotation>
			<xs:documentation>Implements concept Maankäyttöyksityiskohta
				https://tietomallit.suomi.fi/model/rak/Maankayttoyksityiskohta/</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rak:AbstractLandUseObjectType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LandUseDetailPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rak:LandUseDetail"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="LandUseObjectLineage" type="rak:LandUseObjectLineageType" substitutionGroup="gml:AbstractGML"/>
	<xs:complexType name="LandUseObjectLineageType">
		<xs:annotation>
			<xs:documentation>Implements concept Kohteen muutoshistoria https://tietomallit.suomi.fi/model/rak/KohteenMuutoshistoria/</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractGMLType">
				<xs:sequence>
					<xs:element name="changeEvent" type="rak:LandUseObjectChangeEventPropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LandUseObjectLineagePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rak:LandUseObjectLineage"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="LandUseObjectChangeEvent" type="rak:LandUseObjectChangeEventType" substitutionGroup="gml:AbstractGML"/>
	<xs:complexType name="LandUseObjectChangeEventType">
		<xs:annotation>
			<xs:documentation>Implements concept Kohteen muutostapahtuma https://tietomallit.suomi.fi/model/rak/KohteenMuutostapahtuma/</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractGMLType">
				<xs:sequence>
					<xs:element ref="rak:localizedDescription" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="timestamp" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>Implements property Ajanhetki</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="featureVersion" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>rak:AbstractLandOrWaterArea</gml:targetElement>
							</xs:appinfo>
							<xs:documentation>Implements property Kohteen versio</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LandUseObjectChangeEventPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rak:LandUseObjectChangeEvent"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="NamedProperty" type="rak:NamedPropertyType" substitutionGroup="gml:AbstractGML"/>
	<xs:complexType name="NamedPropertyType">
		<xs:annotation>
			<xs:documentation>Implements concept Nimetty ominaisuus https://tietomallit.suomi.fi/model/rak/NimettyOminaisuus/</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractGMLType">
				<xs:sequence>
					<xs:element ref="rak:localizedDescription" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Implements property Kuvaus</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="parameterName" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>Code list value, implements property Lajinimi</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="rak:AbstractPropertyValuePropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Implements property Tarkentava arvo</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NamedPropertyPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rak:NamedProperty"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="AbstractPropertyValue" type="rak:AbstractPropertyValueType" abstract="true" substitutionGroup="gml:AbstractGML"/>
	<xs:complexType name="AbstractPropertyValueType">
		<xs:annotation>
			<xs:documentation>Implements concept Arvo https://tietomallit.suomi.fi/model/rak/Arvo/</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractGMLType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractPropertyValuePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rak:AbstractPropertyValue"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="MeasurablePropertyValue" type="rak:MeasurablePropertyValueType" substitutionGroup="rak:AbstractPropertyValue"/>
	<xs:complexType name="MeasurablePropertyValueType">
		<xs:annotation>
			<xs:documentation>Implements concept Mitattava arvo https://tietomallit.suomi.fi/model/rak/ MitattavaArvo/</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rak:AbstractPropertyValueType">
				<xs:sequence>
					<xs:element name="value" type="gml:MeasureType">
						<xs:annotation>
							<xs:documentation>Implements property Numeroarvo and Mittayksikkö</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MeasurablePropertyValuePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rak:MeasurablePropertyValue"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="MeasurableRangePropertyValue" type="rak:MeasurableRangePropertyValueType" substitutionGroup="rak:AbstractPropertyValue"/>
	<xs:complexType name="MeasurableRangePropertyValueType">
		<xs:annotation>
			<xs:documentation>Implements concept Mitattava arvoväli https://tietomallit.suomi.fi/model/rak/MitattavaArvovali/</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rak:AbstractPropertyValueType">
				<xs:sequence>
					<xs:element name="value" type="rak:ValueRangeType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MeasurableRangePropertyValuePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rak:MeasurableRangePropertyValue"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="CategoryPropertyValue" type="rak:CategoryPropertyValueType" substitutionGroup="rak:AbstractPropertyValue"/>
	<xs:complexType name="CategoryPropertyValueType">
		<xs:annotation>
			<xs:documentation>Implements concept Kategoria-arvo https://tietomallit.suomi.fi/model/rak/Kategoria-arvo/</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rak:AbstractPropertyValueType">
				<xs:sequence>
					<xs:element name="value" type="gml:ReferenceType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CategoryPropertyValuePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rak:CategoryPropertyValue"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="NamePropertyValue" type="rak:NamePropertyValueType" substitutionGroup="rak:AbstractPropertyValue"/>
	<xs:complexType name="NamePropertyValueType">
		<xs:annotation>
			<xs:documentation>Implements concept Nimekearvo https://tietomallit.suomi.fi/model/rak/Nimekearvo/</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rak:AbstractPropertyValueType">
				<xs:sequence>
					<xs:element name="value" type="rak:LocalizedNameType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NamePropertyValuePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rak:NamePropertyValue"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="ShareOfTotalCategoryPropertyValue" type="rak:ShareOfTotalCategoryPropertyValueType" substitutionGroup="rak:AbstractPropertyValue"/>
	<xs:complexType name="ShareOfTotalCategoryPropertyValueType">
		<xs:complexContent>
			<xs:extension base="rak:CategoryPropertyValueType">
				<xs:sequence>
					<xs:element name="appliesToShareOfTotal" type="gml:MeasureType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Share of the total area or volume of the LandUseObject that this category property applies to. Given either as percentage or an absolute 
								value of the area or volume</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ShareOfTotalCategoryPropertyValuePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rak:ShareOfTotalCategoryPropertyValue"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="VerticalRangePropertyValue" type="rak:VerticalRangePropertyValueType" substitutionGroup="rak:AbstractPropertyValue"/>
	<xs:complexType name="VerticalRangePropertyValueType">
		<xs:annotation>
			<xs:documentation>Implements concept Korkeusväli https://tietomallit.suomi.fi/model/rak/Korkeusvali/</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rak:MeasurableRangePropertyValueType">
				<xs:sequence>
					<xs:element name="referencePoint" type="gml:PointPropertyType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VerticalRangePropertyValuePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rak:VerticalRangePropertyValue"/>
		</xs:sequence>
	</xs:complexType>
	
	
	<!-- Name! -->
	<xs:element name="StudyOrSurvey" type="rak:StudyOrSurveyType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="StudyOrSurveyType">
		<xs:annotation>
			<xs:documentation>
				Implements concept rak:Aluekohtainen selvitys.
				https://tietomallit.suomi.fi/model/rak/AluekohtainenSelvitys/
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element ref="rak:localizedName" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Implements property Nimi</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="rak:localizedDescription" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="targetArea" type="gml:GeometryPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Implements property Aluerajaus.
								
								Note that for GML Simple Features profile the only supported property values are 
								gml:Point,gml:LineString, gml:Curve, gml:Polygon, gml:Surface, 
								gml:MultiPoint, gml:MultiCurve and gml:MultiSurface. Using solids (for 3D geometries) etc. is allowed 
								by the XML Schema, but will make the GML non-compliant with the GML Simple Feature profile.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="kind" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>Code list value, implements property Selvityksen laji</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="status" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>Code list value, implements property Selvityksen tila</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="result" type="rak:ReferencedResourcePropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StudyOrSurveyPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rak:StudyOrSurvey"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- FIXME: find a better term! -->
	<xs:element name="ParticipatoryOpinionOrProtest" type="rak:ParticipatoryOpinionOrProtestType" substitutionGroup="gml:AbstractFeature" />
	<xs:complexType name="ParticipatoryOpinionOrProtestType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="kind" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>opinion, protest,.. Code list value</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="geometry" type="gml:GeometryPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Note that for GML Simple Features profile the only supported property values are 
								gml:Point,gml:LineString, gml:Curve, gml:Polygon, gml:Surface, 
								gml:MultiPoint, gml:MultiCurve and gml:MultiSurface. Using solids (for 3D geometries) etc. is allowed 
								by the XML Schema, but will make the GML non-compliant with the GML Simple Feature profile.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="submissionDate" type="xs:date" minOccurs="0"/>
					<xs:element name="submittingParty" type="gml:ReferenceType" minOccurs="0"/>
					<xs:element ref="rak:localizedDescription" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="targetElement" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>rak:PlanningElement</gml:targetElement>
							</xs:appinfo>
							<xs:documentation> 
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="targetModificationSet" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>rak:PlanningAreaModificationSet</gml:targetElement>
							</xs:appinfo>
							<xs:documentation> 
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ParticipatoryOpinionOrProtestPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rak:ParticipatoryOpinionOrProtest"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="ReferencedResource" type="rak:ReferencedResourceType" substitutionGroup="gml:AbstractGML" />
	<xs:complexType name="ReferencedResourceType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractGMLType">
				<xs:sequence>
					<xs:element name="referencedOn" type="xs:date"/>
					<xs:element name="reference" type="xs:anyURI"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReferencedResourcePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rak:ReferencedResource"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="ReferencedDocument" type="rak:ReferencedDocumentType" substitutionGroup="rak:ReferencedResource"/>
	<xs:complexType name="ReferencedDocumentType">
		<xs:complexContent>
			<xs:extension base="rak:ReferencedResourceType">
				<xs:sequence>
					<xs:element name="language" type="xs:language" minOccurs="0"/>
					<xs:element name="status" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Code list value DocumentStatusCodeListValue</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="role" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Code list value DocumentRoleCodeListValue</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="type" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>Code list value DocumentTypeCodeListValue</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReferencedDocumentPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rak:ReferencedDocument"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="ReferencedDataset" type="rak:ReferencedDatasetType" substitutionGroup="rak:ReferencedResource"/>
	<xs:complexType name="ReferencedDatasetType">
		<xs:complexContent>
			<xs:extension base="rak:ReferencedResourceType">
				<xs:sequence>
					<xs:element name="role" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Code list value DatasetRoleCodeListValue</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="type" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>Code list value DatastTypeCodeListValue</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReferencedDatasetPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rak:ReferencedDataset"/>
		</xs:sequence>
	</xs:complexType>
	
	

	
	<xs:element name="Appeal" type="rak:AppealType" substitutionGroup="gml:AbstractGML" />
	<xs:complexType name="AppealType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractGMLType">
				<xs:sequence>
					<!-- Quick draft, this needs to defined as a common public sector information component -->
					<xs:element name="decisionToChange" type="gml:ReferenceType"/>
					<xs:element name="appealDocument" type="rak:ReferencedDocumentPropertyType"/>
					<xs:element name="filingDate" type="xs:date" minOccurs="0"/>
					<xs:element name="litigant" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="decisionOnAppeal" type="gml:ReferenceType" minOccurs="0"/>
					<xs:element name="decisionDate" type="xs:date" minOccurs="0"/>
					<xs:element name="status" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>Status of the appeal process, a code list value</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AppealPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rak:Appeal"/>
		</xs:sequence>
	</xs:complexType>

	
	<!-- helpers -->

	<xs:element name="localizedName" type="rak:LocalizedNameType"/>
	<xs:complexType name="LocalizedNameType">
		<xs:simpleContent>
			<xs:extension base="gml:CodeType">
				<xs:attribute ref="xml:lang" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:element name="localizedDescription" type="rak:LocalizedDescriptionType" />
	<xs:complexType name="LocalizedDescriptionType">
		<xs:simpleContent>
			<xs:extension base="gml:StringOrRefType">
				<xs:attribute ref="xml:lang" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:element name="valueRange" type="rak:ValueRangeType" />
	<xs:complexType name="ValueRangeType">
		<xs:sequence>
			<xs:element name="minimumValue" type="xs:double" minOccurs="0"/>
			<xs:element name="maximumValue" type="xs:double" minOccurs="0"/>
			<xs:element name="uom" type="gml:UomIdentifier" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>
