xmlschema/kaavoituksenKansallinenTietomalli.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0" xmlns:kt="http://louhi.sitowise.com/Kuntapilotti_2019/" targetNamespace="http://louhi.sitowise.com/Kuntapilotti_2019/" elementFormDefault="qualified" version="1.1.5">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<xs:import namespace="http://www.opengis.net/gmlsf/2.0" schemaLocation="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd"/>
	<xs:annotation>
		<xs:appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
			<gmlsf:ComplianceLevel>1</gmlsf:ComplianceLevel>
		</xs:appinfo>
	</xs:annotation>

	<!-- Abstrakti juurielementti -->
	<xs:element name="SpatialPlanElementSet" type="kt:SpatialPlanElementSetType" substitutionGroup="gml:AbstractGML">
		<xs:annotation>
			<xs:documentation>Abstraktin tason kohde kaavakokonaisuuden tallentamiseen GML-skeemassa</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SpatialPlanElementSetType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="featureMember">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractFeatureMemberType">
									<xs:sequence>
										<xs:element ref="gml:AbstractFeature"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="AbstractGMLWithMandatoryIdentifierType">
		<xs:complexContent>
			<xs:restriction base="gml:AbstractGMLType">
				<xs:sequence>
					<xs:element ref="gml:metaDataProperty" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Metatiedot, joilla yksilöidään ja kuvataan GML-kohde</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="gml:description" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Vapaaehtoinen kuvaus GML-kohteesta</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="gml:descriptionReference" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Vapaaehtoinen viittaus kohteen tarkempaan kuvaukseen</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="gml:identifier" minOccurs="1">
						<xs:annotation>
							<xs:documentation>GML-kohteen yksilöivä tunniste, jokaisella aineistoversiolla erillinen tunniste kohteelle</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="gml:name" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Vapaaehtoinen nimitys kohteelle</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute ref="gml:id" use="required">
					<xs:annotation>
						<xs:documentation>Aineiston sisäisesti kohteen yksilöivä tunniste, jota käytetään viittauksissa</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="AbstractFeatureWithMandatoryIdentifierType">
		<xs:complexContent>
			<xs:restriction base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element ref="gml:metaDataProperty" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Metatiedot, joilla yksilöidään ja kuvataan GML-kohde</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="gml:description" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Vapaaehtoinen kuvaus GML-kohteesta</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="gml:descriptionReference" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Vapaaehtoinen viittaus kohteen tarkempaan kuvaukseen</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="gml:identifier" minOccurs="1">
						<xs:annotation>
							<xs:documentation>GML-kohteen yksilöivä tunniste, jokaisella aineistoversiolla erillinen tunniste kohteelle</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="gml:name" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Vapaaehtoinen nimitys kohteelle</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="gml:boundedBy" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Vapaaehtoinen rajaus</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="gml:location" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Vapaaehtoinen sijainti kohteelle</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute ref="gml:id" use="required">
					<xs:annotation>
						<xs:documentation>Aineiston sisäisesti kohteen yksilöivä tunniste, jota käytetään viittauksissa</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- Kaavatietojen abstrakti kuvaus -->
	<xs:element name="AbstractPlanningObject" type="kt:AbstractPlanningObjectType" abstract="true" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>Abstraktin tason kohde, joka tallentaa yksittäisen kaavakohteen</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AbstractPlanningObjectType" abstract="true">
		<xs:complexContent>
			<xs:extension base="kt:AbstractFeatureWithMandatoryIdentifierType">
				<xs:sequence>
					<xs:element name="created" type="xs:dateTime" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Vapaaehtoinen luontiajankohta kaavan GML-kohteelle</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!-- Kaavatunnus, joka säilyy versiosta toiseen -->					
					<xs:element name="planningObjectIdentifier" type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>Uniikki, kaavan tai muun yksittäisen kaavakohteen yksilöivä tunniste. Aineiston muuttuessa tunnusta ei vaihdeta, jos vastaavuus samaan kohteeseen. Ilmaistaan INSPIRE-yhteensopivassa muodossa, yksilöivä osuus UUID-muodossa</xs:documentation>
						</xs:annotation>
						<!-- Pilotissa tunnisteena UUID, mutta jatkossa JHS-suosituksen mukainen tunniste. -->
					</xs:element>
					<xs:element name="obsoletes" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>kt:AbstractPlanningObject</gml:targetElement>
							</xs:appinfo>
							<xs:documentation>Viittaus kohteeseen, joka korvaa viittaavan kohteen</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="obsoletedBy" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>kt:AbstractPlanningObject</gml:targetElement>
							</xs:appinfo>
							<xs:documentation>Viittaus kohteeseen, jonka viittaava (uusi kohde) korvaa</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="informativeDocumentation" type="kt:ReferencedDocumentPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Viittaus kohteeseen liittyvään dokumenttiin (aineistoviittaus)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="planDescription" type="kt:PlanDescriptionPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Viittaus kaavaselostukseen / selostuksen osaan (PlanDescription), joka liittyy viittavaan kohteeseen</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractPlanningObjectPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:AbstractPlanningObject"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="localizedName" type="kt:LocalizedNameType">
		<xs:annotation>
			<xs:documentation>Kieliversioitu nimi</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="LocalizedNameType">
		<xs:simpleContent>
			<xs:extension base="gml:CodeType">
				<xs:attribute ref="xml:lang" use="optional">
					<xs:annotation>
						<xs:documentation>Kielen määrittely</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:element name="localizedObjective" type="kt:LocalizedObjectiveType">
		<xs:annotation>
			<xs:documentation>Kieliversioitu kuvaus kaavan tavoitteesta</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="LocalizedObjectiveType">
		<xs:simpleContent>
			<xs:extension base="gml:CodeType">
				<xs:attribute ref="xml:lang" use="optional">
					<xs:annotation>
						<xs:documentation>Kielen määrittely</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:element name="localizedDescription" type="kt:LocalizedDescriptionType">
		<xs:annotation>
			<xs:documentation>Kieliversioitu kohteen kuvaus</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="LocalizedDescriptionType">
		<xs:simpleContent>
			<xs:extension base="gml:StringOrRefType">
				<xs:attribute ref="xml:lang" use="optional">
					<xs:annotation>
						<xs:documentation>Kielen määrittely</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<!-- Kaava -->
	<xs:element name="SpatialPlan" type="kt:SpatialPlanType" substitutionGroup="kt:AbstractPlanningObject">
		<xs:annotation>
			<xs:documentation>Kaava määrittää kaavoitushankkeen aikaiset tiedot ja toimii linkkinä kohdetietojen ja selvitysaineiston välillä. Kaavarajaus voi olla hyvin suuntaa-antava tai tarkasti kohdistettu riippuen kaavoituksen vaiheesta.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SpatialPlanType">
		<xs:complexContent>
			<xs:extension base="kt:AbstractPlanningObjectType">
				<xs:sequence>
					<xs:element name="contact" type="xs:string" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Kaavan yhteyshenkilö</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="extent" type="gml:GeometryPropertyType">
						<xs:annotation>
							<xs:documentation>Kaavan ulkoraja, voi muodostua useammasta alueesta</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="landAdminstrationAuthority" type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>Kaavan vastuutaho (kunta)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="language" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo source="http://www.luettelopalvelu.fi/codelist/FinnishLanguage" />
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Kaavan laadintakieli, joka ilmaistaan koodilistan mukaisella arvolla</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="kt:localizedObjective" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Kaavan tavoite</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="kt:localizedName" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Kaavan nimi</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="planningLevel" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo source="http://www.luettelopalvelu.fi/codelist/FinnishDocumentRole" />
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Kaavataso</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="planType" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo source="http://www.luettelopalvelu.fi/codelist/FinnishSpatialPlanType" />
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Kaavan tyyppi</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="status" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo source="http://www.luettelopalvelu.fi/codelist/FinnishSpatialPlanStatus" />
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Kaavakohteen vaihe</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="origin" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo source="http://www.luettelopalvelu.fi/codelist/FinnishSpatialPlanOrigin" />
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Alkuperä eli tieto tavasta, jolla alkuperäinen kaava on tuotettu</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="validFrom" type="xs:date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Ajankohta, jolloin kyseinen kohde on tullut / tulee voimaan</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="validTo" type="xs:date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Ajankohta, jolloin kohteen voimassaolo on päättynyt / päättyy</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="conformedBy" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>kt:SpatialPlan</gml:targetElement>
							</xs:appinfo>
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Viittaus kaavakohteeseen (SpatialPlan), joka korvaa tämän kohteen</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="conformsTo" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>kt:SpatialPlan</gml:targetElement>
							</xs:appinfo>
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Viittaus kaavakohteeseen (SpatialPlan), jonka tämä kohde korvaa (käytännössä kaavaprosessin etenemisen myötä päivitetty kohde)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zoningElement" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>kt:ZoningElement</gml:targetElement>
							</xs:appinfo>
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Viittaus maankäyttöalueeseen (ZoningElement), joka liittyy kaavaan</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="regulativeNote" type="kt:RegulativeTextPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Viittaus kaavamääräykseen (RegulativeText), joka koskee koko kaavan aluetta</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="affectingIncludedFeature" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>kt:InformativeFeature</gml:targetElement>
							</xs:appinfo>
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Viittaus kaavan taustatietoon (InformativeFeature), joka on paikkatietokohde</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="backgroundData" type="kt:ReferencedDataPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Aineistoviittaus (ReferencedData) kaavaan liittyvään taustatietoon, jota ei tuoda paikkatietomuodossa</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SpatialPlanPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:SpatialPlan"/>
		</xs:sequence>
	</xs:complexType>
			
	<!-- Maankäyttöalue -->
	<xs:element name="ZoningElement" type="kt:ZoningElementType" substitutionGroup="kt:AbstractPlanningObject">
		<xs:annotation>
			<xs:documentation>Maankäyttöalue, joka on osoitettu kaavassa tietyyn käyttötarkoitukseen (yksi tai useampi). Jos tontit ovat jo olemassa tai ne luodaan kaavoituksen yhteydessä, ne ovat maankäyttöalueita, jotka linkitetään käyttötarkoitustietoon. Muussa tapauksessa käytetään isompia alueita tarpeen mukaan.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ZoningElementType">
		<xs:complexContent>
			<xs:extension base="kt:AbstractPlanningObjectType">
				<xs:sequence>
					<xs:element name="geometry" type="gml:GeometryPropertyType">
						<xs:annotation>
							<xs:documentation>Maankäyttöalueen geometria, tulee olla aluemuotoinen, mutta multigeometria sallitaan</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="kt:localizedName" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Maankäyttöalueen nimi, vapaamuotoinen teksti / numero. Kentässä voidaan tallentaa esim. kadun nimi, asuinalueen korttelinumero tai tontin numero (pelkkä tontti tai pidempi numerosarja)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="type" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo source="http://www.luettelopalvelu.fi/codelist/FinnishZoningElementType" />
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Maankäyttöalueen tyyppi</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="upToDateness" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo source="http://www.luettelopalvelu.fi/codelist/FinnishUpToDateness" />
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Maankäyttöalueen ajanmukaisuus</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="plannedSpace" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>kt:PlannedSpace</gml:targetElement>
							</xs:appinfo>
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Viittaus kaavan osa-alueeseen (PlannedSpace), joka liittyy viittaavaan maankäyttöalueeseen</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="planningDetail" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>kt:PlanningDetail</gml:targetElement>
							</xs:appinfo>
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Viittaus kaavan tarkennemerkintään (PlanningDetail), joka liittyy viittaavaan maankäyttöalueeseen</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="regulativeNote" type="kt:RegulativeTextPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Viittaus kaavamääräykseen (RegulativeText), joka liittyy viittaavaan maankäyttöalueeseen</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="affectingIncludedFeature" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>kt:InformativeFeature</gml:targetElement>
							</xs:appinfo>
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Viittaus paikkatietomuotoiseen kaavan taustatietoon (InformativeFeature), joka liittyy viittaavaan maankäyttöalueeseen</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="subdivision" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>kt:ZoningElement</gml:targetElement>
							</xs:appinfo>
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Viittaus toiseen maankäyttöalueeseen (ZoningElement), joka liittyy viittaavaan maankäyttöalueeseen. Asemakaavassa maankäyttöalueiden sisäkkäisyys sallitaan ohjeellisen tontin kohdalla</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="landUse" type="kt:PlannedLandUsePropertyType" minOccurs="0" maxOccurs="unbounded">	
						<xs:annotation>
							<xs:documentation>Viittaus alueen käyttötarkoitukseen (PlannedLandUse), joka määrittää maankäyttöaluetta</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="numericValue" type="kt:NumericValuePropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Viittaus kaavan numeeriseen merkintään (NumericValue), joka määrittää maankäyttöaluetta, esimerkiksi tehokkuusluku tai autopaikkojen määrä</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="affectingReferencedData" type="kt:ReferencedDataPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Kaavan aineistoviittaus (ReferencedData), joka liittyy viittaavaan maankäyttöalueeseen</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ZoningElementPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:ZoningElement"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Kaavan osa-alue -->
	<xs:element name="PlannedSpace" type="kt:PlannedSpaceType" substitutionGroup="kt:AbstractPlanningObject">
		<xs:annotation>
			<xs:documentation>Kaavan osa-alue, jolla määritetään maankäyttöalueen osan tai osien käyttöä tarkemmin</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PlannedSpaceType">
		<xs:complexContent>
			<xs:extension base="kt:AbstractPlanningObjectType">
				<xs:sequence>
					<xs:element name="geometry" type="gml:GeometryPropertyType">
						<xs:annotation>
							<xs:documentation>Kaavan osa-alueen aluemuotoinen sijaintitieto</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="type" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo source="http://www.luettelopalvelu.fi/codelist/FinnishplannedSpaceType" />
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Kaavan osa-alueen tyyppi</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="obligatory" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>Tieto kaavan osa-alueen sitovuudesta</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="restrictiveFeature" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>kt:PlanningDetail</gml:targetElement>
							</xs:appinfo>
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Viittaus kaavan tarkennemerkintään (PlanningDetail), joka määrittää kaavan osa-alueetta</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="regulativeNote" type="kt:RegulativeTextPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Viittaus kaavan osa-alueeseen liittyvään kaavamääräykseen</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="numericValue" type="kt:NumericValuePropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Viittaus kaavan osa-alueeseen liittyvään kaavan numeeriseen merkintään</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="affectingReferencedData" type="kt:ReferencedDataPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Kaavan aineistoviittaus (ReferencedData), joka liittyy viittaavaan kaavan osa-alueeseen</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PlannedSpacePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:PlannedSpace"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Kaavan tarkennemerkintä -->
	<xs:element name="PlanningDetail" type="kt:PlanningDetailType" substitutionGroup="kt:AbstractPlanningObject">
		<xs:annotation>
			<xs:documentation>Kaavan tarkennemerkintä, joka liittyy toisen kaavan kohteeseen ja kuvataan geometrian avulla.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PlanningDetailType">
		<xs:complexContent>
			<xs:extension base="kt:AbstractPlanningObjectType">
				<xs:sequence>
					<xs:element name="geometry" type="gml:MultiGeometryPropertyType">
					<xs:annotation>
							<xs:documentation>Kaavan tarkennemerkinnän sijainti</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="type" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo source="http://www.luettelopalvelu.fi/codelist/FinnishPlanningDetailType" />
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Kaavan tarkennemerkinnän tyyppi</xs:documentation>
						</xs:annotation>
					</xs:element>					
					<xs:element name="numericValue" type="kt:NumericValuePropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Kaavan tarkennemerkintään liittyvä kaavan numeerinen merkintä</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="affectingReferencedData" type="kt:ReferencedDataPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Kaavan aineistoviittaus (ReferencedData), joka liittyy viittaavaan kaavan tarkennemerkintään</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PlanningDetailPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:PlanningDetail"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Kaavan taustatieto -->
	<xs:element name="InformativeFeature" type="kt:InformativeFeatureType" substitutionGroup="kt:AbstractPlanningObject">
		<xs:annotation>
			<xs:documentation>Kaavan taustatietona tallennetaan paikkatietokohde, joka tulee huomioida kaavoituksessa</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="InformativeFeatureType">
		<xs:complexContent>
			<xs:extension base="kt:AbstractPlanningObjectType">
				<xs:sequence>
					<xs:element name="geometry" type="gml:MultiGeometryPropertyType">
						<xs:annotation>
							<xs:documentation>Kaavan taustatiedon geometria</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="kt:localizedName" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Kaavan taustatiedon nimi / vapaamuotoinen kuvaus</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="type" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo source="http://www.luettelopalvelu.fi/codelist/FinnishInformativeFeatureType" />
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Kaavan taustatiedon tyyppi</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InformativeFeaturePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:InformativeFeature"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Kaavadokumenttien abstrakti kuvaus -->
	<xs:element name="AbstractReferencedResource" type="kt:AbstractReferencedResourceType" abstract="true" substitutionGroup="gml:AbstractGML">
		<xs:annotation>
			<xs:documentation>Absrakti kuvaus GML-kohteesta, joka määrittelee kaavan viiteaineistoa</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AbstractReferencedResourceType" abstract="true">
		<xs:complexContent>
			<xs:extension base="kt:AbstractGMLWithMandatoryIdentifierType">
				<xs:sequence>
					<xs:element name="referencedOn" type="xs:date">
						<xs:annotation>
							<xs:documentation>Viittauspäivämäärä</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reference" type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>Viittaus ulkoiseen lähteeseen (URI)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractReferencedResourcePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:AbstractReferencedResource"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Kaavan liite -->
	<xs:element name="ReferencedDocument" type="kt:ReferencedDocumentType" substitutionGroup="kt:AbstractReferencedResource">
		<xs:annotation>
			<xs:documentation>Asiakirja, joka liittyy kiinteästi kaavaan ja luodaan kaavoituksen aikana</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ReferencedDocumentType">
		<xs:complexContent>
			<xs:extension base="kt:AbstractReferencedResourceType">
				<xs:sequence>
					<xs:element name="language" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo source="http://www.luettelopalvelu.fi/codelist/FinnishLanguage" />
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Asiakirjan kieli</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="role" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo source="http://www.luettelopalvelu.fi/codelist/FinnishDocumentRole" />
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Kaavan liitteen rooli</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="type" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo source="http://www.luettelopalvelu.fi/codelist/FinnishDocumentType" />
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Kaavan liitteen tyyppi</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReferencedDocumentPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:ReferencedDocument"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Kaavan aineistoviittaus -->
	<xs:element name="ReferencedData" type="kt:ReferencedDataType" substitutionGroup="kt:AbstractReferencedResource">
		<xs:annotation>
			<xs:documentation>Viittaus kaavaan liittyvään aineistoon</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ReferencedDataType">
		<xs:complexContent>
			<xs:extension base="kt:AbstractReferencedResourceType">
				<xs:sequence>
					<xs:element name="role" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo source="http://www.luettelopalvelu.fi/codelist/FinnishDocumentRole" />
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Aineistoviittauksen rooli</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="type" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo source="http://www.luettelopalvelu.fi/codelist/FinnishInformativeFeatureType" />
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Aineistoviittauksen tyyppi</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReferencedDataPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:ReferencedData"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Kaavaselostus -->
	<xs:element name="PlanDescription" type="kt:PlanDescriptionType" substitutionGroup="gml:AbstractGML">
		<xs:annotation>
			<xs:documentation>Kaavaselostus rakenteellisesti tuotettuna. Kaavaselostuksen osat kuvaavat kaavan päätöksiä ja niiden syitä aihealueittain</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PlanDescriptionType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractGMLType">
				<xs:sequence>
					<xs:element ref="kt:localizedDescription" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Kaavaselostuksen kuvaus, vapaamuotoinen teksti</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="type" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo source="http://www.luettelopalvelu.fi/codelist/FinnishPlanDescriptionType" />
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Kaavaselostuksen tyyppi, aihealue</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PlanDescriptionPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:PlanDescription"/>
		</xs:sequence>
	</xs:complexType>

	
	<!-- Alueen käyttötarkoitus -->
	<xs:element name="PlannedLandUse" type="kt:PlannedLandUseType" substitutionGroup="gml:AbstractGML">
		<xs:annotation>
			<xs:documentation>Alueen käyttötarkoituksen kuvaus. Kohde kuvaa sekä käyttötarkoituksen lajin että sen ulottuvuuden ja se on aina linkitettynä maankäyttöalueeseen</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PlannedLandUseType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractGMLType">
				<xs:sequence>
					<xs:element name="fractionOfTotalSpace" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Alueen käyttötarkoituksen koko, ilmaistaan osuus viitatusta maankäyttöalueesta desimaaliluvulla</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="landUseKind" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo source="http://www.luettelopalvelu.fi/codelist/FinnishLandUseKind" />
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Alueen käyttötarkoitus koodilistan avulla ilmaistuna</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="previousLandUseKind" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:appinfo source="http://www.luettelopalvelu.fi/codelist/FinnishLandUseKind" />
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Alueen aiempi käyttötarkoitus</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="verticallyConstrainedAbove" type="gml:MeasureType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Alueen käyttötarkoituksen rajoitus alhaalta katsottuna, esimerkiksi korkeustieto, jonka alle käyttötarkoitus rajautuu</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="verticallyConstrainedBelow" type="gml:MeasureType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Alueen käyttötarkoituksen rajoitus ylhäältä katsottuna, esimerkiksi korkeustieto, jonka yläpuolelle käyttötarkoitus rajautuu</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PlannedLandUsePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:PlannedLandUse"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Kaavamääräys -->
	<xs:element name="RegulativeText" type="kt:RegulativeTextType" substitutionGroup="gml:AbstractGML">
		<xs:annotation>
			<xs:documentation>Kaavassa asetetut sanalliset määräykset</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RegulativeTextType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractGMLType">
				<xs:sequence>
					<xs:element ref="kt:localizedDescription" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Vapaamuotoinen sanallinen kuvaus</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="type" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo source="http://www.luettelopalvelu.fi/codelist/FinnishRegulativeTextType" />
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Kaavamääräyksen tyyppi</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RegulativeTextPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:RegulativeText"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Kaavan numeerinen merkintä -->
	<xs:element name="NumericValue" type="kt:NumericValueType" substitutionGroup="gml:AbstractGML">
		<xs:annotation>
			<xs:documentation>Kaikki kaavan numeerinen tieto tulisi tallentaa luokiteltuna kaavan numeerisena merkintänä</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="NumericValueType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractGMLType">
				<xs:sequence>
					<xs:element ref="kt:localizedDescription" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Vapaamuotoinen kuvaus kaavan numeerisesta merkinnästä</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="obligatory" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>Tieto kaavan numeerisen merkinnän sitovuudesta</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="propertyName" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo source="http://www.luettelopalvelu.fi/codelist/FinnishNumericValueType" />
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Kaavan numeerisen merkinnän nimi, koodilistan mukainen tyyppi</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="gml:MeasureType">
						<xs:annotation>
							<xs:documentation>Kaavan numeerisen merkinnän arvo</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NumericValuePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:NumericValue"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Kaavan käsittelytieto -->
	<xs:element name="OrdinanceProcessEvent" type="kt:OrdinanceProcessEventType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>Yksityiskohtaiset tiedot tapahtumasta, joka liittyy kaavaprosessiin</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OrdinanceProcessEventType">
		<xs:complexContent>
			<xs:extension base="kt:AbstractFeatureWithMandatoryIdentifierType">
				<xs:sequence>
					<xs:element name="actor" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Tieto käsittelijästä, esimerkiksi kaavan hyväksyvä taho</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="date" type="xs:date">
						<xs:annotation>
							<xs:documentation>Tapahtuman päiväys</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="documentNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Tapahtumaan liittyvän dokumentin tunniste, tavallisimmin diaarinumero</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="documentReference" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Viittaus tapahtumaan liittyvään dokumenttiin (ulkopuolinen lähde)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="kt:localizedName" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Tapahtuman nimi / kuvaus</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="process" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo source="http://www.luettelopalvelu.fi/codelist/FinnishOrdinanceProcess" />
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Prosessin tyyppi (monivaiheinen kaavoitusprosessi)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="processingAuthority" type="xs:anyURI" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Prosessista vastaava taho</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="processStep" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo source="http://www.luettelopalvelu.fi/codelist/FinnishOrdinanceProcessStep" />
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Prosessin vaihe, johon tapahtuma liittyy</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="subject" type="gml:ReferenceType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>kt:AbstractPlanningObject</gml:targetElement>
							</xs:appinfo>
						</xs:annotation>
						<xs:annotation>
							<xs:documentation>Kaavakohde, johon kaavan käsittelytieto liittyy</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrdinanceProcessEventPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:OrdinanceProcessEvent"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
