xmlschema/kaavoituksenKansallinenTietomalli.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0" xmlns:kt="http://ym.fi/skeemat/kaavatietomalli/0.5" targetNamespace="http://ym.fi/skeemat/kaavatietomalli/0.5" elementFormDefault="qualified" version="1.1.2">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<xs:import namespace="http://www.opengis.net/gmlsf/2.0" schemaLocation="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd"/>
	<xs:annotation>
		<xs:appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
			<gmlsf:ComplianceLevel>1</gmlsf:ComplianceLevel>
		</xs:appinfo>
	</xs:annotation>

	<xs:element name="SpatialPlanElementSet" type="kt:SpatialPlanElementSetType" substitutionGroup="gml:AbstractGML"/>
	<xs:complexType name="SpatialPlanElementSetType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="featureMember">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractFeatureMemberType">
									<xs:sequence>
										<xs:element ref="gml:AbstractFeature"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AbstractPlanningObject" type="kt:AbstractPlanningObjectType" abstract="true" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="AbstractPlanningObjectType" abstract="true">
		<xs:complexContent>
			<xs:extension base="kt:AbstractFeatureWithMandatoryIdentifierType">
				<xs:sequence>
					<xs:element name="planningObjectIdentifier" type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>Unique element identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="obsoletes" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>kt:AbstractPlanningObject</gml:targetElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="informativeDocumentation" type="kt:ReferencedDocumentPropertyType" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractPlanningObjectPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:AbstractPlanningObject"/>
		</xs:sequence>
	</xs:complexType>


	<xs:element name="SpatialPlan" type="kt:SpatialPlanType" substitutionGroup="kt:AbstractPlanningObject"/>
	<xs:complexType name="SpatialPlanType">
		<xs:complexContent>
			<xs:extension base="kt:AbstractPlanningObjectType">
				<xs:sequence>
					<xs:element name="extent" type="gml:MultiSurfacePropertyType"/>
					<xs:element name="landAdminstrationAuthority" type="xs:anyURI"/>
					<xs:element ref="kt:localizedName" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="planningLevel" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>Code list value AbstractSpatialPlanLevelCodeListValue</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="planType" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>Code list value AbstractSpatialPlanTypeCodeListValue</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="status" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>Code list value AbstractSpatialPlanStatusCodeListValue</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="validFrom" type="xs:date" minOccurs="0" maxOccurs="1"/>
					<xs:element name="validTo" type="xs:date" minOccurs="0" maxOccurs="1"/>
					<xs:element name="implements" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A reference to a externally defined SpatialPlan that this plan implements, typically a higher-level, more abstract plan</xs:documentation>
							<xs:appinfo>
								<gml:targetElement>kt:SpatialPlan</gml:targetElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="planningElement" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>kt:PlanningElement</gml:targetElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="regulativeNote" type="kt:RegulativeTextPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="guidanceValue" type="kt:AbstractGuidanceValuePropertyType" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="affectingIncludedFeature" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>kt:InformativeFeature</gml:targetElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="affectingReferencedFeature" type="kt:ReferencedFeaturePropertyType" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="backgroundData" type="kt:ReferencedDatasetPropertyType" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SpatialPlanPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:SpatialPlan"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="PlanningElement" type="kt:PlanningElementType" substitutionGroup="kt:AbstractPlanningObject"/>
	<xs:complexType name="PlanningElementType">
		<xs:complexContent>
			<xs:extension base="kt:AbstractPlanningObjectType">
				<xs:sequence>
					<xs:element name="geometry" type="gml:MultiGeometryPropertyType"/>
					<xs:element ref="kt:localizedName" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="type" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>Code list value AbstractPlanningElementTypeCodeListValue</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="binding" type="xs:boolean"/>
					<xs:element name="restrictiveFeature" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>kt:PlanningDetail</gml:targetElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="regulativeNote" type="kt:RegulativeTextPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="guidanceValue" type="kt:AbstractGuidanceValuePropertyType" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="landUse" type="kt:PlannedLandUsePropertyType" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="affectingIncludedFeature" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>kt:InformativeFeature</gml:targetElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="affectingReferencedFeature" type="kt:ReferencedFeaturePropertyType" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="subdivision" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>kt:PlanningElement</gml:targetElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PlanningElementPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:PlanningElement"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="PlanningDetail" type="kt:PlanningDetailType" substitutionGroup="kt:AbstractPlanningObject"/>
	<xs:complexType name="PlanningDetailType">
		<xs:complexContent>
			<xs:extension base="kt:AbstractPlanningObjectType">
				<xs:sequence>
					<xs:element name="geometry" type="gml:MultiGeometryPropertyType"/>
					<xs:element name="type" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>Code list value AbstractPlanningDetailTypeCodeListValue</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="binding" type="xs:boolean"/>
					<xs:element name="guidanceValue" type="kt:AbstractGuidanceValuePropertyType" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PlanningDetailPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:PlanningDetail"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="InformativeFeature" type="kt:InformativeFeatureType" substitutionGroup="kt:AbstractPlanningObject"/>
	<xs:complexType name="InformativeFeatureType">
		<xs:complexContent>
			<xs:extension base="kt:AbstractPlanningObjectType">
				<xs:sequence>
					<xs:element name="geometry" type="gml:MultiGeometryPropertyType"/>
					<xs:element ref="kt:localizedName" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="type" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>Code list value InformativeFeatureTypeCodeListValue</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InformativeFeaturePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:InformativeFeature"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="AbstractReferencedResource" type="kt:AbstractReferencedResourceType" abstract="true" substitutionGroup="gml:AbstractGML" />
	<xs:complexType name="AbstractReferencedResourceType" abstract="true">
		<xs:complexContent>
			<xs:extension base="kt:AbstractGMLWithMandatoryIdentifierType">
				<xs:sequence>
					<xs:element name="referencedOn" type="xs:date"/>
					<xs:element name="reference" type="xs:anyURI"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractReferencedResourcePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:AbstractReferencedResource"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="ReferencedDocument" type="kt:ReferencedDocumentType" substitutionGroup="kt:AbstractReferencedResource"/>
	<xs:complexType name="ReferencedDocumentType">
		<xs:complexContent>
			<xs:extension base="kt:AbstractReferencedResourceType">
				<xs:sequence>
					<xs:element name="language" type="xs:language" minOccurs="0"/>
					<xs:element name="role" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Code list value DocumentRoleCodeListValue</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="type" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>Code list value DocumentTypeCodeListValue</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReferencedDocumentPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:ReferencedDocument"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="ReferencedDataset" type="kt:ReferencedDatasetType" substitutionGroup="kt:AbstractReferencedResource"/>
	<xs:complexType name="ReferencedDatasetType">
		<xs:complexContent>
			<xs:extension base="kt:AbstractReferencedResourceType">
				<xs:sequence>
					<xs:element name="role" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Code list value DatasetRoleCodeListValue</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="type" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>Code list value DatastTypeCodeListValue</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReferencedDatasetPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:ReferencedDataset"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="ReferencedFeature" type="kt:ReferencedFeatureType" substitutionGroup="kt:AbstractReferencedResource"/>
	<xs:complexType name="ReferencedFeatureType">
		<xs:complexContent>
			<xs:extension base="kt:AbstractReferencedResourceType">
				<xs:sequence>
					<xs:element name="type" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>Code list value InformativeFeatureTypeCodeListValue</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReferencedFeaturePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:ReferencedFeature"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="PlannedLandUse" type="kt:PlannedLandUseType" substitutionGroup="gml:AbstractGML"/>
	<xs:complexType name="PlannedLandUseType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractGMLType">
				<xs:sequence>
					<xs:element name="fractionOfTotalSpace" type="xs:double" minOccurs="0"/>
					<xs:element name="landUseKind" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>Code list value AbstractLandUseKindCodeListValue</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="previousLandUseKind" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Code list value AbstractLandUseKindCodeListValue</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="verticallyConstrainedAbove" type="gml:MeasureType" minOccurs="0"/>
					<xs:element name="verticallyConstrainedBelow" type="gml:MeasureType" minOccurs="0"/>
					<xs:element name="verticalReference" type="gml:DirectPositionType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PlannedLandUsePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:PlannedLandUse"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="RegulativeText" type="kt:RegulativeTextType" substitutionGroup="gml:AbstractGML"/>
	<xs:complexType name="RegulativeTextType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractGMLType">
				<xs:sequence>
					<xs:element ref="kt:localizedDescription" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="type" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Code list value AbstractREgulativeTextTypeCodeListValue</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RegulativeTextPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:RegulativeText"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="AbstractGuidanceValue" type="kt:AbstractGuidanceValueType" abstract="true" substitutionGroup="gml:AbstractGML"/>
	<xs:complexType name="AbstractGuidanceValueType" abstract="true">
		<xs:complexContent>
			<xs:extension base="gml:AbstractGMLType">
				<xs:sequence>
					<xs:element ref="kt:localizedDescription" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="binding" type="xs:boolean"/>
					<xs:element name="propertyName" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>Code list value AbstractNumericValueTypeCodeListValue</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractGuidanceValuePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:AbstractGuidanceValue"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="NumericGuidanceValue" type="kt:NumericGuidanceValueType" substitutionGroup="kt:AbstractGuidanceValue"/>
	<xs:complexType name="NumericGuidanceValueType">
		<xs:complexContent>
			<xs:extension base="kt:AbstractGuidanceValueType">
				<xs:sequence>
					<xs:element name="value">
						<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:double">
										<xs:attribute name="uom" type="gml:UomIdentifier" use="optional"/>
									</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NumericGuidanceValuePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:NumericGuidanceValue"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="FractionalGuidanceValue" type="kt:FractionalGuidanceValueType" substitutionGroup="kt:AbstractGuidanceValue"/>
	<xs:complexType name="FractionalGuidanceValueType">
		<xs:complexContent>
			<xs:extension base="kt:AbstractGuidanceValueType">
				<xs:sequence>
					<xs:element name="value">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="nominator" type="xs:int"/>
								<xs:element name="denominator" type="xs:int"/>
								<xs:element name="uom" type="gml:UomIdentifier" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FractionalGuidanceValuePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:FractionalGuidanceValue"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="CategoryGuidanceValue" type="kt:CategoryGuidanceValueType" substitutionGroup="kt:AbstractGuidanceValue"/>
	<xs:complexType name="CategoryGuidanceValueType">
		<xs:complexContent>
			<xs:extension base="kt:AbstractGuidanceValueType">
				<xs:sequence>
					<xs:element name="value" type="gml:ReferenceType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CategoryGuidanceValuePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:CategoryGuidanceValue"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="OrdinanceProcessEvent" type="kt:OrdinanceProcessEventType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="OrdinanceProcessEventType">
		<xs:complexContent>
			<xs:extension base="kt:AbstractFeatureWithMandatoryIdentifierType">
				<xs:sequence>
					<xs:element name="actor" type="xs:string" minOccurs="0"/>
					<xs:element name="date" type="xs:date"/>
					<xs:element name="documentReference" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="kt:localizedName" maxOccurs="unbounded"/>
					<xs:element name="process" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Code list value AbstractOrdinanceProcessCodeListValue</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="processingAuthority" type="xs:anyURI" minOccurs="0"/>
					<xs:element name="processStep" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Code list value AbstractOrdinanceProcessStepCodeListValue</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="subject" type="gml:ReferenceType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>kt:AbstractPlanningObject</gml:targetElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrdinanceProcessEventPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="kt:OrdinanceProcessEvent"/>
		</xs:sequence>
	</xs:complexType>

	<!-- helpers -->

	<xs:element name="localizedName" type="kt:LocalizedNameType"/>
	<xs:complexType name="LocalizedNameType">
		<xs:simpleContent>
			<xs:extension base="gml:CodeType">
				<xs:attribute ref="xml:lang" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:element name="localizedDescription" type="kt:LocalizedDescriptionType" />
	<xs:complexType name="LocalizedDescriptionType">
		<xs:simpleContent>
			<xs:extension base="gml:StringOrRefType">
				<xs:attribute ref="xml:lang" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="AbstractGMLWithMandatoryIdentifierType">
		<xs:complexContent>
			<xs:restriction base="gml:AbstractGMLType">
				<xs:sequence>
					<xs:element ref="gml:metaDataProperty" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="gml:description" minOccurs="0"/>
					<xs:element ref="gml:descriptionReference" minOccurs="0"/>
					<xs:element ref="gml:identifier" minOccurs="1"/>
					<xs:element ref="gml:name" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute ref="gml:id" use="required" />
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="AbstractFeatureWithMandatoryIdentifierType">
		<xs:complexContent>
			<xs:restriction base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element ref="gml:metaDataProperty" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="gml:description" minOccurs="0"/>
					<xs:element ref="gml:descriptionReference" minOccurs="0"/>
					<xs:element ref="gml:identifier" minOccurs="1"/>
					<xs:element ref="gml:name" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="gml:boundedBy" minOccurs="0"/>
					<xs:element ref="gml:location" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute ref="gml:id" use="required" />
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
