xmlschema/spatial-planning.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:gml="http://www.opengis.net/gml/3.2"
	xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0"
	xmlns:rak="http://uri.suomi.fi/schema/built-environment/common/0.5"
	xmlns:plan="http://uri.suomi.fi/schema/built-environment/spatial-planning/0.7" 
	targetNamespace="http://uri.suomi.fi/schema/built-environment/spatial-planning/0.7" elementFormDefault="qualified" version="1.0">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<xs:import namespace="http://www.opengis.net/gmlsf/2.0" schemaLocation="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd"/>
	<xs:import namespace="http://uri.suomi.fi/schema/built-environment/common/0.5" schemaLocation="./built-environment-common.xsd"/>
	
	<xs:annotation>
		<xs:appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
			<gmlsf:ComplianceLevel>1</gmlsf:ComplianceLevel>
		</xs:appinfo>
	</xs:annotation>

	<xs:element name="SpatialPlan" type="plan:SpatialPlanType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="SpatialPlanType">
		<xs:complexContent>
			<xs:extension base="rak:LandUseDatasetType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SpatialPlanPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="plan:SpatialPlan"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="SpatialPlanReferenceData" type="plan:SpatialPlanReferenceDataType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="SpatialPlanReferenceDataType">
		<xs:complexContent>
			<xs:extension base="rak:LandUseDatasetType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SpatialPlanReferenceDataPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="plan:SpatialPlanReferenceData"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="SpatialPlanDevelopmentNeed" type="plan:SpatialPlanDevelopmentNeedType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="SpatialPlanDevelopmentNeedType">
		<xs:complexContent>
			<xs:extension base="rak:LandUseDatasetDevelopmentNeedType">
				<xs:sequence>
					<xs:element name="requiredSupplementaryStudy" type="rak:StudyOrSurveyPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="participationPlan" type="rak:ReferencedDocumentPropertyType" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SpatialPlanDevelopmentNeedPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="plan:SpatialPlanDevelopmentNeed"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="SpatialPlanModification" type="plan:SpatialPlanModificationType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="SpatialPlanModificationType">
		<xs:complexContent>
			<xs:extension base="rak:LandUseObjectChangeSetType">
				<xs:sequence>
					<xs:element name="basedOnReferenceDatasetState" type="rak:LandUseDatasetStatePropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="commentary" type="rak:ReferencedDocumentPropertyType" minOccurs="0"/>
					<xs:element name="newSupplementedObject" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>plan:SupplementedExternalObject</gml:targetElement>
							</xs:appinfo>
							<xs:documentation>Implements property Uusi täydennetty kohde</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="changedSupplementedObject" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>plan:SupplementedExternalObject</gml:targetElement>
							</xs:appinfo>
							<xs:documentation>Implements property Muuttunut täydennetty kohde</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="removedSupplementedObject" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>plan:SupplementedExternalObject</gml:targetElement>
							</xs:appinfo>
							<xs:documentation>Implemnents property Poistunut täydennetty kohde</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SpatialPlanModificationPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="plan:SpatialPlanModification"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="PlanningArea" type="plan:PlanningAreaType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="PlanningAreaType">
		<xs:complexContent>
			<xs:extension base="rak:LandUseAreaType">
				<xs:sequence>
					<xs:element name="floorAreaRatio" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Floor area ratio to be applied in this PlanningArea</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="legalStatus" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Codelist, if implementing this area is considered obligatory or not as a whole</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="supplementedObject" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>plan:SupplementedExternalObject</gml:targetElement>
							</xs:appinfo>
							<xs:documentation>Implemnents property Täydennetty kohde</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PlanningAreaPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="plan:PlanningArea"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="PlannedParcel" type="plan:PlannedParcelType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="PlannedParcelType">
		<xs:annotation>
			<xs:documentation>Implements concept Suunniteltu kiinteistö
				https://tietomallit.suomi.fi/model/rak/SuunniteltuKiinteisto/</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rak:LandUseAreaType">
				<xs:sequence>
					<xs:element name="registeredParcel" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Implements property Kiinteistö</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PlannedParcelPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="plan:PlannedParcel"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="PlanningDetail" type="plan:PlanningDetailType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="PlanningDetailType">
		<xs:complexContent>
			<xs:extension base="rak:LandUseDetailType">
				<xs:sequence>
					<xs:element name="legalStatus" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Codelist, if implementing this detail is considered obligatory or not as a whole</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="supplementedObject" type="gml:ReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<gml:targetElement>plan:ExternalFeature</gml:targetElement>
							</xs:appinfo>
							<xs:documentation>Implemnents property Täydennetty kohde</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PlanningDetailPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="plan:PlanningDetail"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="PlanningRegulation" type="plan:PlanningRegulationType" substitutionGroup="rak:NamedProperty"/>
	<xs:complexType name="PlanningRegulationType">
		<xs:complexContent>
			<xs:extension base="rak:NamedPropertyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PlanningRegulationPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="plan:PlanningRegulation"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="PlanningGuidance" type="plan:PlanningGuidanceType" substitutionGroup="rak:NamedProperty"/>
	<xs:complexType name="PlanningGuidanceType">
		<xs:complexContent>
			<xs:extension base="rak:NamedPropertyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PlanningGuidancePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="plan:PlanningGuidance"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="SupplementedExternalObject" type="plan:SupplementedExternalObjectType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="SupplementedExternalObjectType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="boundary" type="gml:GeometryPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Note that for GML Simple Features profile the only supported property values are 
								gml:Point,gml:LineString, gml:Curve, gml:Polygon, gml:Surface, 
								gml:MultiPoint, gml:MultiCurve and gml:MultiSurface. Using solids (for 3D geometries) etc. is allowed 
								by the XML Schema, but will make the GML non-compliant with the GML Simple Feature profile.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="type" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>Type of the feature, code list value</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reference" type="xs:anyURI"/>
					<xs:element name="originatesFromDataset" type="rak:ReferencedDatasetPropertyType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SupplementedExternalObjectPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="plan:SupplementedExternalObject"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
